<% include ../partials/headTag %>
<body id="page-top">
    <% include ../partials/banner %>
  <div id="wrapper">
    <%include ../partials/sidebar %>

    <div id="content-wrapper">

      <div class="container-fluid">

        <% include ../partials/breadcrum.ejs %>

       <!--
        include main content here
       -->

      <% include ../partials/footer %>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <% include ../partials/scrolltop %>

  <% include ../partials/jsTag %>

</body>

</html>
